<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Fantasy Team Modal</title>
</head>
<body>
<form method="POST"  action="#" th:action="@{/addFantasyTeam}">
    <div th:attr="id=${'addNewFantasyTeam'}" class="modal fade rounded" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white d-flex">
                    <h4 class="fw-bold">Create new fantasy team</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <table class="w-100">
                        <tr>
                            <td><h5 class="fw-bold">Team Name</h5></td>
                        </tr>
                        <tr>
                            <td>City Name</td>
                            <td>
                                <div class="col-md-3">
                                    <input type="text" name="cityName" class="form-control" autofocus="autofocus" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Team Name</td>
                            <td>
                                <div class="col-md-3">
                                    <input type="text" name="teamName" class="form-control" autofocus="autofocus" required>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer bg-dark text-center">
                    <button class="btn fw-bold text-white" data-bs-toggle="modal" type="submit">Create New Fantasy Team</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

</body>
</html>