<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Full Lineup</title>
    <link rel="stylesheet" type="text/css" th:href="@{/../webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}">

</head>
<body>
<div th:insert="fragments/header.html"></div>
<h1 class="text-danger" th:if="${exceedMaxSize}" th:text="|Adding this many players will exceed chosen teams capacity!|"></h1>
<div>
    <p th:text="|These are the teams you can add players to|"></p>
    <table class="table table-hover">
        <tr>
            <th>Click to players add to this Team</th>
            <th>Team Name</th>
        </tr>
        <tr th:each="team : ${teams}">
            <form method="post" th:action="@{/addPlayers/{teamId}(teamId=${team.teamId})}">
                <td>
                    <button th:text="|Add players to|"></button>
                </td>
                <td th:text="|${team.cityName} ${team.teamName}|"></td>
            </form>
        </tr>
    </table>
    <br/>
    <p th:text="|These are your currently selected players|"></p>
    <table class="table table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Height</th>
            <th>Season Stats</th>
        </tr>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td th:text="|${player.heightFeet}'' ${player.heightInches}|"></td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>