<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>
<h1>List of all current NBA players</h1>
<table>
    <tr>
        <th>Add to team</th>
        <th>Person ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team ID</th>
        <th>Season Stats</th>
    </tr>
    <tr th:each="player : ${players}">
        <form method="post" th:action="@{/rest/addPlayer/{personId}(personId=${player.personId})}">
            <td><button type="submit" th:text="Add"/></td>
        </form>
        <td th:text="${player.personId}"></td>
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:text="${player.teamId}"></td>
        <td><a th:href="@{/players/{personId}(personId=${player.personId})}" th:text="View"></a></td>
    </tr>
</table>
</body>
</html>