<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>
<h1>List of all current NBA players</h1>
<table class="table table-hover">
    <tr>
        <span sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
        <th>Add Player to Lineup</th>
        </span>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Height</th>
        <th>Season Stats</th>
    </tr>
    <tr th:each="player : ${players}">
        <span sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
        <form method="post" th:action="@{/addPlayer/{personId}(personId=${player.personId})}">
            <td class="align-content-center">
                <button type="submit" th:text="Add"></button>
            </td>
        </form>
        </span>
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:text="${player.pos}"></td>
        <td th:text="|${player.heightFeet}'' ${player.heightInches}|"></td>
        <td><a th:href="@{/players/{personId}(personId=${player.personId})}" th:text="View"></a></td>
    </tr>
</table>
<div th:insert="fragments/footer.html"></div>
</body>
</html>