<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet" type="text/css" th:href="@{/../webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="fragments/header.html"></div>
<h1 th:text="|${team.cityName} ${team.teamName}|"></h1>
<table class="table table-hover">
    <tr>
        <th th:unless="${team.fantasy}">Add to fantasy team</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Height</th>
        <th>Season Stats</th>
    </tr>
    <tr th:each="player : ${players}">
        <form method="post" th:action="@{/addPlayer/{personId}(personId=${player.personId})}">
            <td th:unless="${team.fantasy}">
                <button type="submit" th:text="Add"/>
            </td>
        </form>
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:text="${player.pos}"></td>
        <td th:text="|${player.heightFeet}'' ${player.heightInches}|"></td>
        <td><a th:href="@{/players/{personId}(personId=${player.personId})}" th:text="View"></a></td>
    </tr>
</table>
<div th:insert="fragments/footer.html"></div>
</body>
</html>